{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{% static 'portapp/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'portapp/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'portapp/assets/css/style.css'%} " rel="stylesheet">
</head>
<style>
    body{
        background-color: brown;
    }
    .container{
        /* background-color: aliceblue; */
    }
</style>
<body>
    <div class= " container mt-3 pb-2 reg">
        <div >
            <h2 class="offset-2 text-secondary pt-3 h2" style="font-style:italic;">Create an account!</h2>
        <form action="" method="post"class="offset-1 pt-3">
            {% if messages %}
            {% for m in messages %}
            <div class="alert alert-danger">{{m}}</div>
            {% endfor %}
            {% endif %}
            {{reg.username}}<br>
            {{reg.email}}<br>
            {{reg.first_name}}<br>
            {{reg.last_name}}<br>
            {{reg.password1}}<br>
            {{reg.password2}}
            {% csrf_token %}
            <button class="bg-danger p-2 w-25" type="submit">Enter</button> <br>
            <p class="offset-5 mt-3">Already have an account?<a href="{% url 'portapp:login'  %}">Sign In</a></p>
             
    
        </form>
    
        </div>

    </div>
    
    
</body>
</html>