{% load static%}
<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">`
      <!-- site metas -->
      <title>My dashboard page</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- site icon -->
      <link rel="icon" href="{% static 'dashboard/images/fevicon.png' %}" type="image/png" /> 
      <!-- bootstrap css -->
      <link rel="stylesheet" href="{% static 'dashboard/css/bootstrap.min.css' %}" />
      <!-- site css -->
      <link rel="stylesheet" href="{% static 'dashboard/css/style.css' %}" />
      <!-- responsive css -->
      <link rel="stylesheet" href="{% static 'dashboard/css/responsive.css' %}" />
      <!-- color css -->
      <link rel="stylesheet" href="{% static 'dashboard/css/colors.css' %}" />
      <!-- select bootstrap -->
      <link rel="stylesheet" href="{% static 'dashboard/css/bootstrap-select.css' %}" />
      <!-- scrollbar css -->
      <link rel="stylesheet" href="{% static 'dashboard/css/perfect-scrollbar.css' %}" />
      <!-- custom css -->
      <link rel="stylesheet" href="{% static 'dashboard/css/custom.css' %}" />
   </head>
   <body class="dashboard dashboard_1">
      <div class="full_container">
         <div class="inner_container">
            <!-- Sidebar  -->
            <nav id="sidebar">
               <div class="sidebar_blog_1">
                  <div class="sidebar-header">
                     <div class="logo_section">
                        <!-- <a href="{% url 'portapp:blog'%}"><img class="logo_icon img-responsive" src="{% static 'dashboard/images/logo/logo_icon.png'%}" alt="#" /></a> -->
                     </div>
                  </div>
                  <div class="sidebar_user_info">
                     <div class="icon_setting"></div>
                     <div class="user_profile_side">
                        <div class="user_img"><img class="img-responsive" src="images/layout_img/user_img.jpg"  /></div>
                        <div class="user_info">
                           <h6>welcome {{request.user.get_username}}</h6>
                           <p><span class="online_animation"></span> Online</p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="sidebar_blog_2">
                  <h4>General</h4>
                  <ul class="list-unstyled components">
                     <li class="active">
                        <a href="{% url 'dashboard:dashboard'%}"><span>Dashboard</span></a>
                     </li>
                     
                     <li class="dropdown">
                        <a href="#" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle"><span>Blogs</span></a>
                        <ul class=" dropdown-menu" id="Blogs">
                           <li>
                              <a class="dropdown-item" href="{% url 'dashboard:viewblog' %}"><span>View Blog</span></a>
                           </li>

                           <li>
                              <a class="dropdown-item" href="{% url 'dashboard:addblog' %}"><span>Add Blog</span></a>
                           </li>

                        </ul>
                     </li>
                     
                  
                     <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle" aria-expanded="false"> <span>Profile</span></a>
                        <ul class="dropdown-menu">
                           <li><a class="dropdown-item" href="{% url 'dashboard:profile' %}">View profile</a></li>
                           <li><a class="dropdown-item" href="{% url 'dashboard:editprofile' %}">Edit profile</a></li>
                           <li><a class="dropdown-item" href="{% url 'dashboard:changepassword' %}">Change password</a></li>

                        </ul>
                     </li>
                  </ul>
               </div>
            </nav>
            <!-- end sidebar -->
            <!-- right content -->
            <div id="content">
               <!-- topbar -->
               <div class="topbar">
                  <nav class="navbar navbar-expand-lg navbar-light">
                     <div class="full">
                        <button type="button" id="sidebarCollapse" class="sidebar_toggle"><i class="fa fa-bars"></i></button>
                        <div class="logo_section">
                           <a href="{% url 'portapp:blog'%}"><img class="img-responsive" src="{% static 'dashboard/images/logo/logo.png' %}" alt="#" /></a>
                        </div>
                        <div class="right_topbar">
                           <div class="icon_info">
                             
                              <ul class="user_profile_dd">
                                 <li>
                                    <a class="dropdown-toggle" data-toggle="dropdown"><img class="img-responsive rounded-circle" src="{% static 'dashboard/images/layout_img/user_img.jpg'%}" alt="#" /><span class="name_user">{{request.user.get_full_name}}</span></a>
                                    <div class="dropdown-menu">
                                       <a class="dropdown-item" href="{% url 'dashboard:profile'%}">My Profile</a>
                                       <a class="dropdown-item" href="{% url 'dashboard:changepassword'%}">settings</a>
                                       <a class="dropdown-item" href="{% url 'dashboard:logout'%}"><span>Log Out</span></a>
                                    

                                    </div>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </nav>
               </div>
               <!-- end topbar -->
               <!-- dashboard inner -->
               <div class="midde_cont">
                  <div class="container-fluid">
                     <div class="row column_title">
                        <div class="col-md-12">
                           <div class="page_title">
                              <h2>Dashboard</h2>
                           </div>
                        </div>
                     </div>
                   {% block content%}
                   {% endblock %}
                  <!-- footer -->
                  <div class="container-fluid">
                     <div class="footer">
                        <p> Designed by <strong>Snazzzy 'J'</strong>. All rights reserved.<br><br>
                        
                        </p>
                     </div>
                  </div>
               </div>
               <!-- end dashboard inner -->
            </div>
         </div>
      </div>
      <!-- jQuery -->
      <script src="{% static 'dashboard/js/jquery.min.js' %}"></script>
      <script src="{% static 'dashboard/js/popper.min.js' %}"></script>
      <script src="{% static 'dashboard/js/bootstrap.min.js' %}"></script>
      <!-- wow animation -->
      <script src="{% static 'dashboard/js/animate.js'%}"></script>
      <!-- select country -->
      <script src="{% static 'dashboard/js/bootstrap-select.js'%}"></script>
      <!-- owl carousel -->
      <script src="{% static 'dashboard/js/owl.carousel.js'%}"></script> 
      <!-- chart js -->
      <script src="{% static 'dashboard/js/Chart.min.js'%}"></script>
      <script src="{% static 'dashboard/js/Chart.bundle.min.js'%}"></script>
      <script src="{% static 'dashboard/js/utils.js'%}"></script>
      <script src="{% static 'dashboard/js/analyser.js'%}"></script>
      <!-- nice scrollbar -->
      <script src="{% static 'dashboard/js/perfect-scrollbar.min.js'%}"></script>
      <script>
         var ps = new PerfectScrollbar('#sidebar');
      </script>
      <!-- custom js -->
      <script src="{% static 'dashboard/js/chart_custom_style1.js'%}"></script>
      <script src="{% static 'dashboard/js/custom.js'%}"></script>
   </body>
</html>